supervised_learning/0x0C-neural_style/5-neural_style.py
supervised_learning/decision_tree/5-main.py
supervised_learning/decision_tree/6-main.py
supervised_learning/decision_tree/70-main.py
supervised_learning/decision_tree/71-main.py
supervised_learning/decision_tree/80-main.py
supervised_learning/decision_tree/81-main.py
supervised_learning/decision_tree/trial.py
supervised_learning/decision_tree/90-main.py
supervised_learning/decision_tree/91-main.py
supervised_learning/decision_tree/10-main.py
supervised_learning/decision_tree/11-main.py
bassins2.png
unsupervised_learning/gan/1-main.py
unsupervised_learning/gan/0-task.py
unsupervised_learning/gan/1-task.py
unsupervised_learning/gan/3-task.py
unsupervised_learning/gan/4-task.py
all_analysis_data.txt
labels.txt
sample_analysis_data.txt
math/0x01-plotting/test.py
math/0x01-plotting/0-check.py
math/0x01-plotting/__pycache__/0-line.cpython-36.pyc
reference.png
student.png
math/0x01-plotting/0-main.py
math/plotting/__pycache__/0-line.cpython-36.pyc
math/plotting/0-main.py
math/plotting/0-check.py
math/plotting/1-main.py
math/plotting/1-check.py
math/plotting/__pycache__/1-scatter.cpython-36.pyc
reference1.png
math/plotting/__pycache__/2-change_scale.cpython-36.pyc
math/plotting/2-main.py
math/plotting/2-check.py
math/plotting/3-check.py
math/plotting/3-main.py
math/plotting/__pycache__/3-two.cpython-36.pyc
math/plotting/4-check.py
math/plotting/4-main.py
4-frequency.png
math/plotting/__pycache__/4-frequency.cpython-36.pyc
math/plotting/5-main.py
math/plotting/5-check.py
math/plotting/__pycache__/4-frequency.cpython-311.pyc
math/plotting/__pycache__/5-all_in_one.cpython-36.pyc
math/plotting/__pycache__/5-all_in_one.cpython-39.pyc
math/plotting/__pycache__/5-all_in_one.cpython-311.pyc
math/plotting/6-check.py
math/plotting/6-main.py
math/plotting/__pycache__/0-line.cpython-311.pyc
math/plotting/__pycache__/1-scatter.cpython-311.pyc
math/plotting/__pycache__/2-change_scale.cpython-311.pyc
math/plotting/__pycache__/3-two.cpython-311.pyc
math/plotting/__pycache__/6-bars.cpython-311.pyc
math/plotting/__pycache__/4-frequency.cpython-38.pyc
math/plotting/__pycache__/5-all_in_one.cpython-38.pyc
math/plotting/__pycache__/100-gradient.cpython-38.pyc
math/plotting/100-check.py
math/plotting/100-main.py
pca.npz.zip
math/plotting/__pycache__/101-pca.cpython-38.pyc
math/plotting/101-main.py
math/plotting/101-check.py
math/plotting/test101.py
pca.npz
math/plotting/__pycache__/0-line.cpython-38.pyc
math/plotting/__pycache__/0-line.cpython-39.pyc
math/plotting/__pycache__/0-line.cpython-310.pyc
math/plotting/__pycache__/2-change_scale.cpython-38.pyc
Binary_Dev.npz
Binary_Train.npz
math/decision_tree/0-build_decision_tree.py
math/decision_tree/0-main.py
math/decision_tree/1-main.py
math/decision_tree/2-main.py
math/decision_tree/3-main.py
math/decision_tree/4-build_decision_tree.py
math/decision_tree/4-main.py
math/decision_tree/5-build_decision_tree.py
math/decision_tree/5-main.py
math/decision_tree/6-build_decision_tree.py
math/decision_tree/6-main.py
math/decision_tree/7-build_decision_tree.py
math/decision_tree/8-build_decision_tree.py
math/decision_tree/9-random_forest.py
math/decision_tree/10-isolation_tree.py
math/decision_tree/10-main.py
math/decision_tree/11-isolation_forest.py
math/decision_tree/11-main.py
math/decision_tree/70-main.py
math/decision_tree/71-main.py
math/decision_tree/80-main.py
math/decision_tree/81-main.py
math/decision_tree/90-main.py
math/decision_tree/91-main.py
math/decision_tree/README.md
math/decision_tree/trial.py
math/decision_tree/__pycache__/0-build_decision_tree.cpython-36.pyc
math/decision_tree/__pycache__/1-build_decision_tree.cpython-36.pyc
math/decision_tree/__pycache__/2-build_decision_tree.cpython-36.pyc
math/decision_tree/__pycache__/2-build_decision_tree.cpython-39.pyc
math/decision_tree/__pycache__/3-build_decision_tree.cpython-36.pyc
math/decision_tree/__pycache__/4-build_decision_tree.cpython-36.pyc
math/decision_tree/__pycache__/5-build_decision_tree.cpython-36.pyc
math/decision_tree/__pycache__/6-build_decision_tree.cpython-36.pyc
math/decision_tree/__pycache__/7-build_decision_tree.cpython-36.pyc
math/decision_tree/__pycache__/8-build_decision_tree.cpython-36.pyc
math/decision_tree/__pycache__/9-random_forest.cpython-36.pyc
math/decision_tree/__pycache__/10-isolation_tree.cpython-36.pyc
math/decision_tree/__pycache__/11-isolation_forest.cpython-36.pyc
math/plotting/2-change_scale.py
math/plotting/2-change_scale.py
.vscode/settings.json
math/plotting/2-change_scale.py
math/plotting/2-change_scale.py
math/decision_tree/check2.py
